<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
	<div class="form-group">
		<%= form.hidden_field :commenter, :value=> current_user.email %>
	</div>
	<%= form.text_area :body, class: "form-control" %>
	<%= form.submit "Submit", class: "btn btn-primary" %>
<% end %>
 