<div class="container">
  <% count = 1 %>
  <div class="row">
    <% if current_user.id == 1 %>
      <div class="col-sm-4">
        <%= link_to "Create New Article", new_article_path, class: "btn btn-primary" %>
        <% count += 1 %>
      </div>
    <% end %>
    <% @articles.each do |article| %>
      <div class="col-sm-4">
        <img src="" class="article-thumbnail">
        <h3><%= link_to article.title, article_path(article), class: "article-card-title mx-2" %></h3>
        <p class="article-card-text mx-2"><%= article.text %></p>
      </div>
      <% if count % 3 == 0 %>
        </div>
        <div class="row">
      <% end %>
      <!-- continue on -->
      <% count += 1 %>
    <% end %>
  </div>
</div>
